<li>
	{{name}}

	<button class="change-appetite" data-id="{{id}}" data-newappetite="{{appetite}}">
		{{#if appetite}}LET'S EAT!{{else}}I'M STUFFED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
